flows/MP84_TrialBalancePeriod.yml
id: MP84_TrialBalancePeriod
namespace: dev
labels:
  Type: Source
  Group: MP84

triggers:
  - id: monthly
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "@monthly"

inputs:
  - id: date
    type: DATE
    required: true
    displayName: Date
  
variables:
  n: 20000
  dataset: mp_infor
  site: MITRAPRO

tasks:
  - id: calculate_dates
    type: io.kestra.plugin.core.debug.Return
    format: |
      {
        "year": "{% if inputs.date is defined and inputs.date is not null %}{{ inputs.date | date('yyyy') }}{% else %}{{ trigger.date ?? execution.startDate | date('yyyy') }}{% endif %}",
        "month": "{% if inputs.date is defined and inputs.date is not null %}{{ inputs.date | date('MM') }}{% else %}{{ trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('MM') }}{% endif %}",
        "date": "{% if inputs.date is defined and inputs.date is not null %}{{ inputs.date | date('yyyy-MM-dd') }}{% else %}{{ trigger.date ?? execution.startDate | dateAdd(-1, 'MONTHS') | date('yyyy-MM-dd') }}{% endif %}"
      }

  - id: MP84_TrialBalancePeriod_Parallel
    type: io.kestra.plugin.core.flow.Parallel
    tasks:

      - id: MP84_TrialBalancePeriod
        type: io.kestra.plugin.core.flow.Subflow
        flowId: generic_extract_load_infor_append
        namespace: dev
        
        inputs:
          append_strategy: MONTHLY_SITE
          api_path_and_query: https://csi10a.erpsl.se2.inforcloudsuite.com/IDORequestService/ido/load/ue_ID_MP84_TrialBalanceAsOfPeriod?properties=Account,AccountClass,BeginningBalance,Credit,Debit,Description,EndingBalance,Name,Position,UnitCode1,UnitCode2,UnitCode3,UnitCode4&clm=SP_MP84_TrialBalanceAsOfPeriod&clmparam={{ vars.site }},{{ json(outputs.calculate_dates.value).month }},{{ json(outputs.calculate_dates.value).year }}

          start_date: "{{ json(outputs.calculate_dates.value).date }}"
          bq_destination_table: "{{ vars.dataset }}.mp84_trialbalance_period"
          date_field: "month_year"
          site: "{{ vars.site }}"
          site_field: site
          bq_schema_fields: |
            {
              'BeginningBalance' : 'float',
              'Credit' : 'float',
              'Debit' : 'float',
              'EndingBalance' : 'float'
            }